*{
    margin: 0px;
    padding: 0px;
    font-family: noto sans;
}

#navbar1{
    padding-top: 16px;
    padding-bottom: 72px;
}

#navbar1 li{
    list-style: none;
}

#navbar1 .classe{
    color: #4FBF70;
}

.logo1{
    float: left;
    /* border: 1px solid red; */
}

.menu1{
    float: right;
    /* border: 1px solid red; */
    padding-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 2%;
}

.menu1 li{
    float: left;
    margin-left: 30px;
}

.logo1 img{
    width: 244.09px;
    height: 60px;
}

.container{
    margin: 0 auto;
    max-width: 1408px;
    /* border: 1px solid red; */
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#banner1, .container1, .container1 img{
    width: 100%;
}

#banner1{
    /* padding-top: 20px; */
    clear: both;
}

#banner1 {
    position: relative;
}

.comment24{
    font-size: 24px;
    font-weight: 600;
    line-height: 32.69px;
    letter-spacing: 2%;
}

.title48{
    font-size: 48px;
    font-weight: 900;
    line-height: 65.38px;
    letter-spacing: 2%;
    padding-top: 20px;
}

.content_contact {
    text-transform: uppercase;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.btn_contact button{
    border: 1px solid #FFFFFF;
    padding: 10px 24px;
    gap: 10px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 21.79px;
    border-radius: 100px;
    letter-spacing: 2%;
    color: #FFFFFF;
    background-color: transparent;
}

#content_services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content_services .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 96px;
    margin-bottom: 96px;
}

.rentagle83, .rentagle84, .rentagle85 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content20{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 16px;
    letter-spacing: 2%;
}